.popup
  margin: 0 auto
  margin-top: 44px
  max-width: 750px
  min-height: 580px
  border-radius: 3px
  background-color: $box-bg
  overflow: hidden
  @include drop-shadow

.popup__header
  display: flex
  align-items: center
  height: 60px
  background-color: $box__desc-bg
  border-bottom: 1px solid $border-bot

.popup__tag
  margin-left: 20px

.popup__title
  padding-left: 12px
  font-size: 20px
  color: $title

.popup__content
  display: flex
  flex-wrap: wrap
  margin: 20px 20px

.popup__dismiss
  position: relative
  width: 11px
  height: 11px
  margin-right: 20px
  margin-left: auto
  overflow: hidden
  cursor: pointer
  &:hover
    &::before, &::after
      background: $border

  &::before, &::after
    content: ''
    position: absolute
    height: 2px
    width: 100%
    top: 50%
    left: 0
    margin-top: -1px
    background: $text
  &::before
    transform: rotate(45deg)
  &::after
    transform: rotate(-45deg)
